* {
  margin: 0;
  padding: 0;
}

#toggle-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.25em;
  padding: 0.25em;
  border: 1px dotted #222;
  cursor: pointer;
}

@media print {
  #toggle-btn {
    display: none;
  }
}

@media screen {
  body {
    max-width: 8.5in;
    margin: 0 auto;
    padding-bottom: 1em;
  }
}

@media print {
  @page {
    padding: 0.5in;
  }
  body: {
    margin: 0;
    padding: 0;
  }
  .employer {
    .heading {
      break-inside: avoid;
      break-after: avoid;
    }
      
    .position {
      break-inside: avoid;
    }
  }
}

h1, h2 {
  margin: 1em 0 0.5em 0;
}

h3 {
  margin-top: 0;
}

ul {
  margin-top: 0.8em;
  padding-left: 1.5em;

  li {
    padding-bottom: 0.7em;
  }

}

#contact {
  margin: 1em 0;
}

#resume.styled {
  .emdash {
    display: none;
  }

  .date, .location {
    display: block;
  }
}

@media print, screen and (min-width: 1024px) {
  #resume.styled {
    .date, .location {
      display: inline;
    }

    .position {
      &:not(.no-date) {
        h3 .title {
          &::after {
            content: ", "
          }
        }
      }
    }

    h2 .location {
      &::before {
        content: " (";
      }
      &::after {
        content: ")"
      }
    }
  }
}
